@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext);
/* \\\\\\\\\\\\\\\\\    DEMO CODE   ///////////////////////////////// */
applet, object, iframe, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, caption, img, header, section {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.centerUp {
  margin: 0 auto;
  width: 960px;
}

/*body {*/
  /*background: #fffceb;*/
  /*color: #333;*/
  /*font-size: 13px;*/
  /*font-family: Arial, sans-serif;*/
  /*font-family: 'Playfair Display', serif;*/
  /*text-align: center;*/
  /*color: #3a6a7e;*/
/*}*/

h1 {
  font-size: 80px;
  margin: 80px 0 100px;
}

h2 {
  margin: 100px 0 0;
  color: #eb5a3d;
}

p {
  font-size: 20px;
}

.modal p {
  font-size: 14px;
  text-align: left;
  margin: 10px 0 0;
}
.modal p:hover {
  cursor: pointer;
}

/*a {*/
  /*display: block;*/
  /*width: 280px;*/
  /*height: 50px;*/
  /*margin: 0 auto;*/
  /*margin-bottom: 80px;*/
  /*padding: 30px 0 0;*/
  /*font-size: 18px;*/
  /*color: #fff;*/
  /*text-decoration: none;*/
  /*background: #eb5a3d;*/
  /*-webkit-box-shadow: inset 0 1px 1px #ffbfb3, 0 2px 5px #732e20;*/
  /*-moz-box-shadow: inset 0 1px 1px #ffbfb3, 0 2px 5px #732e20;*/
  /*box-shadow: inset 0 1px 1px #ffbfb3, 0 2px 5px #732e20;*/
  /*border: 1px solid #884335;*/
/*}*/
/*a:hover {*/
  /*background: #ea5234;*/
/*}*/

/* \\\\\\\\\\\\\\\\\    END DEMO CODE   ///////////////////////////////// */
/* \\\\\\\\\\\\\\\\\    MODAL CODE   ///////////////////////////////// */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.modal {
  display: none;
  background: #FBFCFB;
  padding: 0 10px 10px;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 300px;
  min-height: 340px;
  border:1px solid #6dc704;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.modal div.deng_zhu{
  width:200px;
  margin-left:20px;
  margin-bottom:5px;
  overflow: hidden;
}
.modal div.deng_zhu h4.lv{
  float: left;
  color: #6dc704;
  padding:5px;
  border-bottom:2px solid #6dc704 ;
  margin-right:20px;
}
.modal div.deng_zhu h4.no{
  float: left;
  color: #ada9a9;
  padding:5px;
  border-bottom:2px solid #fcfcfc ;
  margin-left:20px;
}
div.deng{
  width:200px;
  clear: both;
  color: #bdbcbb;
  font-size:12px;
  margin-left:20px;
  margin-top:10px;
}
div.deng input{
  border:1px solid #6dc704 ;
  border-radius: 11px;
  background-color: #f5f4f3;
  height:30px;
  width:230px;
  font-size:13px;
  margin-top:3px;
  padding-left:3px;
  outline:none;
}
div.deng span{
  margin:3px 3px;
}
div.rem img{
  width:9%;
  border-radius: 2px;
}
input.sub{
  color: #fff;
  border-radius: 11px;
  background-color: #6dc704;
  height:30px;
  width:230px;
  font-size:15px;
  text-align: center;
  margin-left:20px;
  padding:0;
  outline:none;
  margin-top:10px;
  box-shadow: none;
  border:1px solid #6dc704;
}
input.sub:focus{
  background-color: #3c7b13;
  border:1px solid #3c7b13;
}
div.forget{
  color: #bdbcbb;
  font-size:12px;
  margin-left:20px;
  margin-top:5px;
}
div.other{
  margin-left:20px;
  color: #bdbcbb;
  font-size:12px;
}
div.other img{
  width:13%;
  margin-left:10px;
}
div.modal a{
  display: block;
  width:230px;
  height:30px;
  background-color: transparent;
  position: absolute;
  top:219px;
  left:31px;
}
/* \\\\\\\\\\\\\\\\\    END MODAL CODE   ///////////////////////////////// */
